{% load static %}
{% load ts3_utils %}
{% spaceless %}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ server.name }}</title>

        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>

    <body>
    <div class="container-md my-4">
        <header>
            <h1>
                <a class="server" href="ts3server://{{ public_addr }}" title="Click to join">
                    {{ server.name }}
                </a>
            </h1>
        </header>

        <p>Status fetched: {{ fetch_time }}</p>

        <div class="row">
            <div class="col my-3">
                <h2>Active channels</h2>
                {% if server.channels %}
                    <ul class="list-group">
                        {% for channel in server.channels %}
                            {% if channel.clients %}
                                <li class="list-group-item">
                                <span class="channel{% if channel.is_default %} default{% endif %}">
                                    {{ channel.name }}
                                </span>
                                </li>
                                {% for client in channel.clients %}
                                    <li class="list-group-item">
                                        <div class="client-wrapper">
                                        <span class="client {{ client | client_style_cls }}">
                                            {{ client.name }}
                                        </span>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="col my-3">
                <h2>Recent users</h2>
                <div class="list-group list-group-root well">
                    {% for db_cl in server.last_clients %}
                        <div class="list-group-item">
                            <strong>{{ db_cl.name }}</strong>
                            <span class="recent-status">
                            {% if db_cl.online_time %}
                                Online for: {{ db_cl.online_time | td2str }}
                            {% else %}
                                Last seen: {{ db_cl.last_visit | diff2str }} ago
                            {% endif %}
                        </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    </body>
    </html>
{% endspaceless %}